@page
@model RAVIP1599.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.targetSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.targetSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.optStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.optStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.contactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.contactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.relocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.relocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.dateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.dateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.referenceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.referenceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Company.ISIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.JobTitle.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Industry.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
